*{
    font-family: 'Bitter', serif;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

#container-logo {
    width: 100%;
    height: 5rem;
    background-color:#FFFFFF;
    text-align: center;
}

#img-logo {
    width: 70%;
    padding-top: 2rem;

}

.principal-margin {
    padding: 4rem 0 4rem 0;
    margin-top: 2rem;
}

.container-btn {
    text-align: center;
}

.button {
    background-color: #FFE521;
    width: 10rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    transition: .3s ease;
}

.button:hover {
    background-color: #EDD23D;
}

.btn-text {
    color: #000000;
    font-size: 17px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}